<div class="jumbotron jumbotron-fluid bg-dark text-white eat-in-container">
  <div class="container eat-in-container-item">

    <h1 class="display-3">Eating In!</h1>
    <p class="lead">Choose a recipe! :D</p>

    <hr class="my-2">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="recipeName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let r"> {{ r.recipeName }} </td>
        </ng-container>

        <ng-container matColumnDef="ingredients">
          <th mat-header-cell *matHeaderCellDef> Ingredients </th>
          <td mat-cell *matCellDef="let r"> {{ r.ingredients }} </td>
        </ng-container>

        <ng-container matColumnDef="calories">
          <th mat-header-cell *matHeaderCellDef> Calories </th>
          <td mat-cell *matCellDef="let r"> {{ r.calories }} </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let r"> <a [href]="r.url"> View Recipe</a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <hr class="my-2">

    <p class="lead">
      <button class="btn btn-danger btn-lg" (click)="surprise()">Surprise Me!</button>
      <a class="btn btn-light" href="">Back</a>
    </p>
  </div>
</div>
