<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="">
    <img src="../../../assets/pme-logo.png">
    <!-- <i class="fas fa-cookie-bite"></i> -->
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="welcome-detail">

      <li class="nav-item">
        <a class="nav-link" href="test">Testing Region</a>
      </li>

    </ul>
  </div>
  
  <app-nav-options class="collapse navbar-collapse"></app-nav-options>

</nav>
