<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" (click)="goToHome()">
    <img class="navbar-logo" src="assets/pme-logo.png">
    <!-- <i class="fas fa-cookie-bite"></i> -->
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls=".navbar-collapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <app-user-nav-options class="collapse navbar-collapse"></app-user-nav-options>

  <app-nav-options class="collapse navbar-collapse"></app-nav-options>

</nav>
