.home-container {
  display: flexbox;
  align-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home-container-item {
  border: 5px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.jumbotron {
  background: rgba(inherit, inherit, inherit, 0.75);
}
