<div class="backdrop" ng-show="loggedIn" [ngStyle]="{'display':display}"></div>
<div class="modal modal-dark text-white" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <!-- The Modal is split into a login and a register view-->
    <div class="modal-content" *ngIf="notReg; else regis">
      
      <div class="modal-header">
        <h2 class="modal-title align-content-center">Plan My Eats Login!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body align-content-center">
        <div class="card-title align-content-center">

          <div class="form input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
            </div>
            <input [(ngModel)]="un" type="text" class="form-control" placeholder="Username">
          </div>

          <div class="form input-group mb-3">
            <div class="form input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
            </div>
            <input [(ngModel)]="pw" type="password" class="form-control" placeholder="Password">
          </div>

          <span id="log-error"></span>

          <button class="btn btn-secondary w-100" (click)="logUser()">Login</button>

          <button class="text-white nav-link small-text align-content-center" (click)="reg()">
            <i>Don't have an account? Sign up here!</i>
          </button>
        </div>
      </div>

    </div>

    <!-- Here the register view begins -->
    <ng-template #regis>

      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title align-content-center">Start Planning Your Eats!</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body align-content-center">

          <div class="card-title align-content-center">

            <div class="form input-group mb-3">
              <input [(ngModel)]="un" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form input-group mb-3">
              <input [(ngModel)]="hi" type="number" class="form-control" placeholder="Height in Inches">
            </div>
            <div class="form input-group mb-3">
              <input [(ngModel)]="we" type="number" class="form-control" placeholder="Weight in Pounds">
            </div>
            <div class="form input-group mb-3">
              <input [(ngModel)]="age" type="number" class="form-control" placeholder="Age">
            </div>
            <div class="form input-group mb-3">
              <input [(ngModel)]="pw" type="password" class="form-control" placeholder="Password">
            </div>

            <span id="log-error"></span>

            <button class="btn btn-secondary w-100" (click)="changeLog()">Register</button>
          </div>
          <button class="text-white nav-link small-text align-content-center" (click)="reg()">
            <i>Already have an account? Sign up here!</i>
          </button>
        </div>

      </div>

    </ng-template>

  </div>
</div>
