
<h1 class="display-3">Plan My Eats</h1>
<hr class="my-2">
<p>
  Are you indecisive, uninformed or simply facing financial difficulties that affect your dietary lifestyle?<br>
  <br>
  Plan My Eats is a web-application that would allow people to plan out their meals in a variety of ways.
  When registering, the app will calculate a basic profile based on health information and personal
  preferences.<br>
  <br>
  Based on your interests, you can then select to eat out or eat in. When eating in, depending on your mood,
  you can choose to get recipes filtered by on your saved preferences or you can venture into new cuisines.<br>
  <br>
  When eating out, you have the choice of either eating alone or eating with a group of people. Regardless of
  the decision, a list of restaurants will be presented to you. If you simply cannot decide, our app will
  simply suggest one to you at random.
</p>