<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container">

    <h1 class="display-3">User Preferences</h1>
    <p class="lead">Here are a list of preferences that you can pick from, choose as many as you want and these will be
      saved and used whenever we search for recipes or restraunts for you.</p>

    <hr class="my-2">

    <div class="row">
      <ul *ngFor="let p of preferences" class="col-3">
        <input type="checkbox" [checked]="p.selected" (change)="p.selected = !p.selected"> {{ p.name | titlecase }}
      </ul>

      <!-- <ul *ngFor="let l of restrauntPref" class="col-3">
        <input type="checkbox" [checked]="l.selected" (change)="l.selected = !l.selected"> {{ l.name | titlecase }}
      </ul> -->
    </div>

    <button class="btn btn-block btn-light" (click)="updatePreferences()">Update Preferences</button>

  </div>
</div>
