@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #191c20; */
  background-image: url('/assets/dinner-dish-egg-54455.jpg');
  background-size: cover;
}

footer {
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden;      /* hide the overflow */
  color: white;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 60px;
}

* [class$='-container'] {
  display: flexbox;
  flex-direction: column;
  align-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* [class$='-container-item'] {
  border: 5px;
  border-radius: solid black 25px;

}

.jumbotron {
  /* opacity: 0.75; */
  background: rgba(inherit, inherit, inherit, 0.75);
  /* @apply .text-white; */
  /* @apply .bg-dark; */
}
