@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

/* *{
  font-family: Georgia, 'Times New Roman', Times, serif !important;
} */

/* You can add global styles to this file, and also import other style files */
body {
  /* background-color: #191c20; */
  background-image: url('/assets/dinner-dish-egg-54455.jpg');
  background-size: cover;
}

footer {
  display: inline-block;
  /* change the default display type to inline-block */
  overflow: hidden;
  /* hide the overflow */
  color: white;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 60px;
}

* [class$='-container'] {
  display: flexbox;
  flex-direction: column;
  align-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* [class$='-container-item'] {
  border: 5px;
  border-radius: solid black 25px;

}

.jumbotron {
  /* opacity: 0.75; */
  background: rgba(inherit, inherit, inherit, 0.75);
  /* @apply .text-white; */
  /* @apply .bg-dark; */
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}
