<div class="jumbotron jumbotron-fluid eat-out-container">
  <div class="container eat-out-container-item">

    <h1 class="display-3">Eating Out!</h1>
    <p class="lead">Choose a restaurant! :D</p>

    <hr class="my-2">
    
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
        <mat-cell *matCellDef="let name"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>type</mat-header-cell>
        <mat-cell *matCellDef="let type"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef>location</mat-header-cell>
        <mat-cell *matCellDef="let location"></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns">install</mat-row>
    </mat-table>
    
    <hr class="my-2">
    <p class="lead">
      <button class="btn btn-primary btn-lg">Surprise Me!</button>
    </p>
    <hr class="my-2">
    <app-map></app-map>
  </div>
</div>
